@model IEnumerable<BusinessObject.GenderModel>
@{
    ViewBag.Title = "Gender";
}
<h2>Gender</h2>

<div>
    @Html.ActionLink("Add Gender", "Create")
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>@Html.DisplayNameFor(m => m.ISACTIVE)</th>
        <th></th>
    </tr>
    @foreach (BusinessObject.GenderModel genderModel in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => genderModel.Name)</td>
            <td>@Html.DisplayFor(m => genderModel.ISACTIVE)</td>
            <td>
                @Html.ActionLink("EditGender", "Edit", new { Id = genderModel.Id }) |
                @Html.ActionLink("DeleteGender", "Delete", new { Id = genderModel.Id })
            </td>
        </tr>
    }


</table>
