@model BusinessObject.RoleModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="Create" method="post">
    <div>
            @Html.DisplayNameFor(m => m.CODE)
            @Html.EditorFor(m => m.CODE)
        </div>
    <div>
        @Html.DisplayNameFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.ISACTIVE)
        @Html.EditorFor(m => m.ISACTIVE)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.CREATEDDATE)
        @Html.EditorFor(m => m.CREATEDDATE)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.CREATEDBY)
        @Html.EditorFor(m => m.CREATEDBY)
    </div>
    <div>
        <input type="submit" value="Create Role" />
    </div>
</form>

